<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<main class="wp-block-group">
    <h1 class="has-text-align-center">Our Partners</h1>
    <!-- wp:query {"query":{"postType":"paz_partner"}} -->
    <div class="wp-block-query">
        <!-- wp:post-template {"layout":{"type":"grid","columnCount":4}} -->
        <!-- wp:post-featured-image /-->
        <!-- wp:post-title {"level":3,"textAlign":"center"} /-->
        <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
</main>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
