<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"tagName":"section","backgroundColor":"muted","style":{"spacing":{"padding":{"top":"4rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
	<section class="wp-block-group has-muted-background-color has-background" style="padding-top:4rem;padding-bottom:3rem">
		<!-- wp:heading {"textAlign":"center","level":1} --><h1 class="wp-block-heading has-text-align-center">Our Team</h1><!-- /wp:heading -->
	</section>
	<!-- /wp:group -->
	<!-- wp:pazone/team-grid {"posts":8} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
