<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<main class="wp-block-group">
    <!-- wp:group {"backgroundColor":"primary","textColor":"background","style":{"spacing":{"padding":{"top":"5rem","bottom":"5rem"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group has-primary-background-color has-background has-background-text-color" style="padding-top:5rem;padding-bottom:5rem">
        <h1 class="has-text-align-center">Safeguarding</h1>
        <p class="has-text-align-center">Safeguarding is at the heart of everything we do.</p>
    </div>
    <!-- /wp:group -->
    <!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"margin":{"top":"4rem","bottom":"4rem"}}}} -->
    <div class="wp-block-group" style="margin-top:4rem;margin-bottom:4rem">
        <h2 class="wp-block-heading">Our Commitment</h2>
        <p>Pathway Academy Zone is committed to safeguarding and promoting the welfare of children and young people.</p>
        <!-- wp:pazone/key-policies /-->
    </div>
    <!-- /wp:group -->
</main>
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
