<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem">
		<!-- wp:pazone/breadcrumbs /-->
		<!-- wp:post-title {"level":1} /-->
		<!-- wp:post-date {"textColor":"muted-foreground"} /-->
		<!-- wp:post-featured-image {"align":"wide"} /-->
		<!-- wp:post-content /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"cta-banner"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
